html {
  -webkit-font-smoothing: antialiased;
  font-family: "Google Sans", Arial;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-snap-type: y mandatory;
}
.slide {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.home-title {
  font-size: 5vw;
  color: #454444;
}
a {
  color: rgba(0, 0, 0, .5);
  position: relative;
}
a:hover {
  color: rgba(0, 0, 0, 1);
}
img {
  max-height: calc(100vh - 20vh);
  max-width: calc(100vw - 20vw);
  margin: auto;
  display: block;
}
.caption {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: transparent;
  transition: .5s ease;
}
.caption:hover {
  background: linear-gradient(360deg,
    rgba(0, 0, 0, .618),
    rgba(0, 0, 0, .382),
    rgba(0, 0, 0, .236),
    rgba(0, 0, 0, .146),
    rgba(0, 0, 0, .090),
    rgba(0, 0, 0, .056),
    rgba(0, 0, 0, .034),
    rgba(0, 0, 0, .021));
  background-clip: padding-box;
  color: white;
}
span {
  padding: 10px 20px;
  font-size: 3vh;
}
footer {
  display: flex;
  margin: 20px auto;
}