html {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Arial;
  color: rgb(90, 90, 90);
  background-color: silver;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
header {
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
img {
  max-width: 100%;
  border-radius: 2px;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
}
h1 {
  margin: 0;
  font-family: Montserrat;
}
a {
  color: rgb(90, 90, 90);
  text-decoration: none;
  font-weight: bold;
}
.caption {
  /*font-weight: bold;*/
  text-align: center;
  display: none;
}
@media screen and (max-width: 800px) {
  .table {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 479px) {
  header {
    padding: 20px;
  }
  .table {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
}