html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', Arial;
  font-size: 14px;
  color: #454444;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.95);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
}
nav ul {
  padding-right: 50px;
  display: flex;
}
nav li {
  list-style: none;
  padding-left: 50px;
}
.home {
  /*background-color: white;*/
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);*/
}
.tmp {
  font-size: 64px;
  font-weight: bold;
}
.projects {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px 1fr;
}
.grid {
  margin: auto;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  justify-content: center;
}
img {
  max-width: 100%;
  display: flex;
  /*border-radius: 2px;*/
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
}
.caption {
  padding: 10px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #454444;
}
@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 479px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }  
  header {
    padding: 10px 20px;
  }
}